@model PlanMyTripApp.Models.Flight

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Flight</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FlightName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlightName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeatsCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeatsCapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoOfSeatsAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOfSeatsAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlightType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlightType)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("View All Flights", "ViewFlights","Flight")
        </div>
    }
</div>
